/*
 * Nager.Date API - V3
 * Nager.Date is open source software and is completely free for commercial use. If you would like to support the project you can award a GitHub star ⭐ or even better <a href='https://github.com/sponsors/nager'>actively support us</a>
 *
 * OpenAPI spec version: v3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package crystal.training.de.api.client.api;



import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import crystal.training.de.api.client.*;
import crystal.training.de.api.client.model.LongWeekendV3Dto;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class LongWeekendApi {
    private ApiClient apiClient;

    public LongWeekendApi() {
        this(Configuration.getDefaultApiClient());
    }

    public LongWeekendApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for longWeekendLongWeekend
     * @param year  (required)
     * @param countryCode  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call longWeekendLongWeekendCall(Integer year, String countryCode, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/v3/LongWeekend/{year}/{countryCode}"
            .replaceAll("\\{" + "year" + "\\}", apiClient.escapeString(year.toString()))
            .replaceAll("\\{" + "countryCode" + "\\}", apiClient.escapeString(countryCode.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain", "application/json", "text/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call longWeekendLongWeekendValidateBeforeCall(Integer year, String countryCode, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'year' is set
        if (year == null) {
            throw new ApiException("Missing the required parameter 'year' when calling longWeekendLongWeekend(Async)");
        }
        // verify the required parameter 'countryCode' is set
        if (countryCode == null) {
            throw new ApiException("Missing the required parameter 'countryCode' when calling longWeekendLongWeekend(Async)");
        }
        
        com.squareup.okhttp.Call call = longWeekendLongWeekendCall(year, countryCode, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get long weekends for a given country
     * 
     * @param year  (required)
     * @param countryCode  (required)
     * @return List&lt;LongWeekendV3Dto&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<LongWeekendV3Dto> longWeekendLongWeekend(Integer year, String countryCode) throws ApiException {
        ApiResponse<List<LongWeekendV3Dto>> resp = longWeekendLongWeekendWithHttpInfo(year, countryCode);
        return resp.getData();
    }

    /**
     * Get long weekends for a given country
     * 
     * @param year  (required)
     * @param countryCode  (required)
     * @return ApiResponse&lt;List&lt;LongWeekendV3Dto&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<LongWeekendV3Dto>> longWeekendLongWeekendWithHttpInfo(Integer year, String countryCode) throws ApiException {
        com.squareup.okhttp.Call call = longWeekendLongWeekendValidateBeforeCall(year, countryCode, null, null);
        Type localVarReturnType = new TypeToken<List<LongWeekendV3Dto>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get long weekends for a given country (asynchronously)
     * 
     * @param year  (required)
     * @param countryCode  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call longWeekendLongWeekendAsync(Integer year, String countryCode, final ApiCallback<List<LongWeekendV3Dto>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = longWeekendLongWeekendValidateBeforeCall(year, countryCode, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<LongWeekendV3Dto>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
